input {
  outline: none;
  border-right: none;
  border-left: none;
  border-top: none;
  font-size: 14pt
}

input:focus::-webkit-input-placeholder{
  color: transparent;
}

body {
  font-family: Verdana, serif;
}

#left {
  width: 80%;
  height: 100%;
  display: flex;
  background-size: cover;
}
#left header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
  position: absolute;
  left: -650px;
}
#left header header img {
  width: 500px;
}

#right {
  width: 70%;
}

#first {
  font-size: 45px;
  font-weight: bold;
  margin: 0 20px;
  width: 200%;
  text-align: left;
  white-space: normal;
  line-height: 10px;
}
#reg {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: bold;
  margin: 0 auto;
  width: 80%;
  text-align: left;
}
button {
  width: 166px;
  height: 30px;
  border-radius: 80px;
  background-image: linear-gradient(to top, black, white);
  color: white;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
#vibor {
  display: flex;
  flex-direction: column;
  width: 300%;
  font-size: 14px;

}

#osnov {
  width: 100%;
  height: 100%;
  display: flex;
}
