input {
  outline: none;
  border-right: none;
  border-left: none;
  border-top: none;
  font-size: 14pt;
  width: 500px;
  background: transparent;
}

input:focus::-webkit-input-placeholder{
  color: transparent;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Verdana, serif;
  margin: 0;
}

#left {
  background-size: cover;
  background-image: url("img/background.png");
  width: 168%;
  display: flex;
}

header {
  display: flex;
  justify-content: flex-end;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 200px;
}
article {
  flex: 1 200px;
}
article:nth-of-type(2) {
  flex: 2 200px;
  display: flex;
  flex-flow: column;
}
article:nth-of-type(2) dir:first-child {
  flex: 1 100px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

#all {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
}
#left header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  padding: 5px 0px;
}
#left header header img {
  width: 500px;
}
article:nth-of-type(2) {
  flex: 2 200px;
  display: flex;
  flex-flow: column;
}
#right {
  width: 100%;

  align-items: center;
  justify-content: space-around;
}
section div {
  font-size: calc(1px + 2vw);

}



.gr {
  color: green;
}

#first {
  font-size: 45px;
  font-weight: bold;
  margin: 0 auto;
  width: 80%;
  text-align: left;
  white-space: normal;
  line-height: 106px;
  padding: 0px 20px;

  flex: 1;
}
.reg {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: bold;
  margin: 0 auto;
  width: 80%;
  text-align: left;

}
.block {
  display: flex;
  flex-direction: column;
}
.pole {
  display: flex;
  flex-direction: row-reverse;
}
button {
  width: 166px;
  height: 30px;
  border-radius: 80px;
  background-image: linear-gradient(to top, black, white);
  color: white;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
#vibor {
  display: flex;
  flex-direction: column;
  width: 300%;
  font-size: 14px;
  padding: auto;
}

label input {
  display: none;
}

label span {
  height: 12px;
  width: 12px;
  border: 2px solid gainsboro;
  display: inline-block;
  background-color: gainsboro;
  border-radius: 2px;
  padding: auto ;
  position: relative;
}

[type=checkbox]:checked + span:before {
  content: '\2714';
  position: absolute;
  top: -4px;
  left: 0;
  font-size: 14px;
  color: green;
}

 checkbox + label {
   cursor: pointer;
 }

#osnova {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}
